.filter-a {
  margin-left: auto;
}

.align-items {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

select {
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

label {
  color: white;
}
